<%= form_for @produto, :html => {:class => 'form-horizontal'} do |f| %>
<% if @produto.errors.any? %>
<center>
<div id="error_explanation">
  <h2><%= pluralize(@produto.errors.count, "erro") %> <%= 'encontrado'.pluralize(@produto.errors.count) %>:</h2>

  <ul>
    <% @produto.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
</center>
<% end %>

<div class="form-group">
  <%= f.label :'Tipo:', :class => 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.collection_select :tipo_id, Tipo.all, :id, :tipo, {:prompt=>true}, {:class => 'form-control'} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :'Código de Barras:', :class => 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.number_field :cbarras, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :'Descrição:', :class => 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.text_field :descricao, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :'Valor:', :class => 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.text_field :valor, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :'Saldo:', :class => 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.number_field :saldo, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
  </div>
</div>
<% end %>
