<table width=100%>
  <tr>
    <td align=left>
      <h1>Produtos Cadastrados</h1>
    </td>
    <td align=right>
      <%= form_tag produtos_path, :method => 'get', :class => 'form-inline' do %>
      <%= text_field_tag :search, params[:search], :class => 'form-control' %>
      <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-default' %>
      <% end %>
    </td>
  </tr>
</table>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="text-align: center;">Código de Barras</th>
      <th style="text-align: center;">Tipo</th>
      <th style="text-align: center;">Descrição</th>
      <th style="text-align: center;">Valor</th>
      <th style="text-align: center;">Saldo</th>      
      <th colspan="3" style="text-align: center;">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
    <% @tipo = Tipo.find(produto.tipo_id) %>
      <tr>
        <td><%= produto.cbarras %></td>
        <td><%= @tipo.tipo %></td>
        <td><%= produto.descricao %></td>
        <td style="text-align: right;"><%= produto.valor %></td>
        <td style="text-align: right;"><%= produto.saldo %></td>        
        <td style="text-align: center;"><%= link_to 'Exibir', produto %></td>
        <% if current_usuario.admin? %>
        <td style="text-align: center;"><%= link_to 'Editar', edit_produto_path(produto) %></td>
        <td style="text-align: center;"><%= link_to 'Excluir', produto, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


