<h1>Listing produtos</h1>

<table>
  <thead>
    <tr>
      <th>Cbarras</th>
      <th>Descricao</th>
      <th>Valor</th>
      <th>Saldo</th>
      <th>Tipo</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
    <% @tipo = Tipo.find(produto.tipo_id) %>
      <tr>
        <td><%= produto.cbarras %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.valor %></td>
        <td><%= produto.saldo %></td>
        <td><%= @tipo.tipo %></td>
        <td><%= link_to 'Show', produto %></td>
        <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
        <td><%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto', new_produto_path %>
