<!DOCTYPE html>
<html>
<head>
  <title>Produtos 1.0</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">

    <% if flash[:notice] %>
        <div class="alert alert-info" role="alert"><%= notice %></div>
    <% end %>

    <% if flash[:alert] %>
        <div class="alert alert-warning" role="alert"><%= alert %></div>
    <% end %>

    <div class="row">
      <%= yield %>
    </div>

</div>

</body>
</html>
